body{
    margin: 0;
}
h2{
    text-align: center;
}
.usersListCover{
    display: flex;
    justify-content: space-around;
}
.birthdayListCover{
    width: 480px;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    margin-left: 30px;
    position: relative;
}
.birthdayListCover:before{
    content: " ";
    background: darkgrey;
    width: 1px;
    height: 100%;
    float:left;
    right: 100%;
    position: absolute;
    top:105px;

}
.usersList{
    width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.alphabet{
    width: 145px;
    padding-left: 20px;
}
.usersName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titleOfBirthdayList{
    position: relative;
    border-bottom: 1px solid currentColor;
    padding-bottom:50px;
    width: 70%;
}